<div class="modal-header">
    <h1 class="modal-title"><b>{{ newsData.source }}</b></h1>
    <br/>
    <p class="modal-title">{{ formattedData }}</p>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    
</div>
<div class="modal-body">
    <h4><b>{{ newsData.headline }}</b></h4>
    <p>{{ newsData.summary }}</p>
    <p class="text-muted" style="display: inline-block">For more details click </p><a [href]="newsData.url" target="_blank"> here</a>

</div>

<!-- <div class="modal-footer">
    Total: $ 
    <button type="button" class="btn btn-success" (click)="activeModal.close('Close click')">Buy</button>
    <button type="button" class="btn btn-success" (click)="modal.dismiss('cancel click')">Buy</button>
</div> -->