<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #18148d;">
  <div class="container-fluid justify-content-between align-items-center">
    <p class="navbar-brand py-1 my-1"><span class="text-white fs-6">Stock Search</span></p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a [routerLink]="'/search/'+ticker" class="btn navbar-btn btn-sm rounded-3 text-white mx-2 py-1 my-1" aria-current="page" href="#" [class.border-white]="isActive('/search')" style="background-color: #18148d">Search</a>
        <a routerLink="/watchlist" class="btn navbar-btn btn-sm rounded-3 text-white mx-2 py-1 my-1" href="#" [class.border-white]="isActive('/watchlist')" style="background-color: #18148d">Watchlist</a>
        <a routerLink="/portfolio" class="btn navbar-btn btn-sm rounded-3 text-white mx-2 py-1 my-1" href="#" [class.border-white]="isActive('/portfolio')" style="background-color: #18148d">Portfolio</a>
      </div>
    </div>
  </div>
</nav>
