<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #18148d;">
  <div class="container-fluid">
    <p class="navbar-brand py-1 my-1"><span class="text-white fs-6">Stock Search</span></p>
    <div class="nav navbar-nav navbar-right">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a routerLink="/search" class="btn navbar-btn btn-sm rounded-3 text-white border-white mx-2 py-1 my-1" aria-current="page" href="#" style="background-color: #18148d">Search</a>
          <a routerLink="/watchlist" class="btn navbar-btn btn-sm rounded-3 text-white border-white mx-2 py-1 my-1" href="#" style="background-color: #18148d">Watchlist</a>
          <a routerLink="/portfolio" class="btn navbar-btn btn-sm rounded-3 text-white border-white mx-2 py-1 my-1" href="#" style="background-color: #18148d">Portfolio</a>
        </div>
      </div>
    </div>
  </div>
</nav>
