<div class="row m-0 d-flex align-items-stretch">
    <ng-container *ngFor="let news of filteredNews">
        <div class="col-md-6 col-xs-12 col-sm-12 p-3" *ngIf="isMobileView">
            <a (click)="openNewsModal(news)">
                <div class="card mb-3 h-100" style="height: 10rem;">
                    <div class="row g-0 h-100">
                        <div class="col-12">
                            <div class="image-container" style="height: 60%;">
                                <img [src]="news.image" class="rounded w-100 h-100" style="object-fit: cover;" alt="...">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-body" style="height: 40%;">
                                <small><p class="card-text">{{ news.headline }}</p></small>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-md-6 col-xs-12 col-sm-12 p-3" *ngIf="!isMobileView">
            <a (click)="openNewsModal(news)">
                <div class="card mb-3 h-100" style="height: 10rem;">
                    <div class="row g-0 h-100">
                        <div class="col-md-4 col-xs-12 col-sm-12">
                            <div class="image-container" style="height: 100%;">
                                <img [src]="news.image" class="rounded w-100 h-100" style="object-fit: cover;" alt="...">
                            </div>
                        </div>
                        <div class="col-md-8 col-xs-12 col-sm-12">
                            <div class="card-body">
                                <small><p class="card-text">{{ news.headline }}</p></small>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </ng-container>
</div>
