
<br>

<div class="row m-0 d-flex align-items-stretch">


    <div class="col-md-6 col-xs-12 col-sm-12 p-3" *ngFor="let news of filteredNews" style="height: 8rem">
        <a >
            <div class="card mb-3 h-100" (click)="openNewsModal(news)">
                <div class="row g-0 h-100">
                    <div class="col-md-4 col-xs-12 col-sm-12 h-100">
                        <img [src]="news.image" class="rounded w-100 h-100" alt="...">
                    </div>
                    <div class="col-8 col-xs-12">
                        <div class="card-body">
                        <small><p class="card-text">{{ news.headline }}</p></small>
                        </div>
                    </div>

                </div>
            </div>
        </a>
    </div>

</div>

