<div class="row justify-content-center">
  <div class="col-sm-8 col-xs-12">
    <mat-tab-group>
      <mat-tab label="Summary"> 
        <app-companysummary></app-companysummary>
      </mat-tab>
      <mat-tab label="Top News"> 
        <app-companynews></app-companynews>
      </mat-tab>
      <mat-tab label="Charts"> 
        <app-companycharts></app-companycharts>
      </mat-tab>
      <mat-tab label="Insights">
        <app-companyinsights></app-companyinsights>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
