<!-- <p>Server with ID {{serverId}} is {{getServerStatus()}}</p> -->

<p [ngStyle]="{backgroundColor: getColor()}" [ngClass]="{online: serverStatus === 'online'}">Server with ID {{serverId}} is {{ serverStatus }}</p>



<!-- <input type="text" (input)="onUpdateServerName($event)"> -->
<!-- <input type="text" [(ngModel)]="serverUpdationStatus"> -->

<!-- <p>{{ serverUpdationStatus }}</p> -->
<button class="btn btn-primary" [disabled] ="allowNewServer" (click)="onCreateServer()">Add Server</button>
<p *ngIf="serverCreated; else noServer">Server Created after click</p>
<ng-template #noServer><p>No  Server created yet.</p></ng-template>

<!-- <app-server *ngFor="let server of servers"></app-server> -->
<div *ngFor="let server of servers; let i = index" [ngStyle]="{backgroundColor: i>= 4 ? 'blue' : 'transparent'}" [ngClass]="{'white-text': i>=4 ? 'blue':'transparent'}">i</div>

<!-- <p>{{ serverStatus }}</p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<!-- <p [innerText]="allowNewServer"></p> -->