<div class="modal-header">
    <h4 class="modal-title">AAPL</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <p>Current Price: {{ currentPrice }}</p>
    <p>Money in Wallet: ${{ wallet.toFixed(2) }}</p>
    Quantity: <input type="number" min="1" [(ngModel)]="quantity" (keyup)="onKeyup($event)" (change)="onKeyup($event)"/> 
    <p class="text-danger" *ngIf="quantity > myQuantity">You cannot sell the stocks that you don't have!</p>
</div>
<div class="modal-footer">
    Total: $ {{ totalSell }}
    <button type="button" class="btn btn-success" (click)="sellStock()" [disabled]="notSellable">Sell</button>
    <!-- <button type="button" class="btn btn-success" (click)="modal.dismiss('cancel click')">Sell</button> -->
</div>