<!-- <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
    AAPL added to Watchlist.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> -->

<!-- <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
    AAPL bought successfully.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> -->


<div class="row mx-0">

    <div class="col-4">
        <h3 class="fs-2 mx-2" style="display:inline;">{{ companySummary.ticker }}</h3><a (click)="onFavClick()"><i [class]="(isFav) ? 'bi bi-star-fill text-warning' : 'bi bi-star'"></i></a><br>
        <h4 class="fs-4 text-muted" style="display:inline;">{{ companySummary.name }}</h4><br>
        <p><small>{{ companySummary.exchange }}</small></p>
        <small>
            <button class="btn btn-success mx-1" (click)="openBuyModal(companyQuote)">Buy</button>
            <button *ngIf="stockModel && stockModel.quantity" class="btn btn-danger" (click)="openSellModal(companyQuote)">Sell</button>
        </small>

    </div>

    <div class="col-4">
        <img [src]="companySummary.logo" width="35%" height="35%" class="img-fluid m-2" alt="Logo">
    </div>

    <div class="col-4">
        <h3 [class]="(companyQuote.d>0) ? 'fs-2 text-success' : ((companyQuote.d < 0) ? 'fs-2 text-danger' : 'fs-2 text-dark')" style="display:inline;">{{ companyQuote.c }}</h3><br>
        <h4 [class]="(companyQuote.d>0) ? 'fs-4 text-success' : ((companyQuote.d < 0) ? 'fs-4 text-danger' : 'fs-4 text-dark')" style="display:inline;"><i [class]="(companyQuote.d>=0) ? 'bi bi-caret-up-fill text-success' : 'bi bi-caret-down-fill text-danger'"></i>{{ companyQuote.d }} ({{ companyQuote.dp.toFixed(2) }}%)</h4><br>
        <p><small>{{ formattedCurrentTime }}</small></p>
    </div>

</div>

<div class="col-12 text-center">
    <p [class]="(marketStatus=='is Open') ? 'text-success' : 'text-danger'"><small><b>Market{{ marketStatus }}</b></small></p>
</div>

<!-- <div class="row mx-0">
    <app-companydata></app-companydata>
</div> -->


<!-- <p>{{ this.tickerQuery }}</p> -->
